/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family:var(--main-font), sans-serif;
  font-variation-settings:"wght" var(--font-card-text);
  background-image: var(--page-gradient);
  background-size: cover;        /* растянуть на всю страницу */
  background-attachment: fixed;  /* фон фиксируется при прокрутке */
  background-color: var(--bg-color);
}


.header {
  display:flex;
  justify-content:center;
  align-items:center;
}

.header__info {
  display:flex;
  margin-block-start:100px;
  text-align:center;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: var(--width);
  padding:122px 16px 122px 16px;
  background-color: var(--bg-color-card);
  border:2px solid var(--main-text-color);
  text-transform:uppercase;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-family:var(--second-font);
  color:var(--main-text-color);
}

.header__title_paragraph {
  font-family: var(--second-font);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-block-start:20px;
  color:var(--main-text-color);
}


main {
  display:grid;
  justify-content:center;
  gap:51px;
  margin-top:100px;
  margin-bottom:100px;
}

.card {
  display:flex;
  flex-direction:column;
  background-color: var(--bg-color);
  border:2px solid var(--main-text-color);
  max-width:375px;
}

.card__title {
  display:flex;
  padding:4px 10px 4px 10px;
  font-variation-settings:"wght" var(--font-card-h);
  font-size:var(--card-text-font-size);
  color:var(--main-text-color);
}

.card__photo img {
  inline-size:100%;
  block-size:100%;
  display:block;
}

.card__photo {
  position:relative;
  display: inline-block;
  border:2px solid var(--main-text-color);
}

.card__special_paragraph {
  display:flex;
  justify-content:right;
  position:absolute;    
  padding-top:25px;
  padding-left:15px;       
  font-variation-settings:"wght" var(--font-header-weight);
  font-size:var(--special-font-size);
  font-family:var(--second-font);
  -webkit-text-stroke:1px solid var(--bg-color);
  opacity:50%;
  text-shadow:
   -1px -1px 0 var(--bg-color),
    1px -1px 0 var(--bg-color),
   -1px  1px 0 var(--bg-color),
    1px  1px 0 var(--bg-color);
  color:var(--main-text-color);
  mix-blend-mode: hard-light;
  right:25px;
  z-index:1;
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {

  .card__special_paragraph {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
  
}


.article__wrapper {
  display:grid;
  font-variation-settings:"wght" var(--font-card-text);
  font-size:var(--card-text-font-size);
  padding:25px 25px 25px 25px;
  gap:25px;
}

.card-bottom {
  display:flex;
  justify-content:right;
  gap:12px;
  padding-bottom:25px;
  padding-right:25px;
}

.card__like-button {
  width:130px;
  height:38px;
  font-family:var(--second-font);
  border:2px solid var(--main-text-color);
  background-color:transparent;
}

.button__text {
  font-size:var(--special-font-size);
  font-variation-settings:"wght" var(--font-header-weight);
  mix-blend-mode:difference;
  color:white;
}

.save-btn {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:var(--special-font-size);
  font-variation-settings:"wght" var(--font-header-weight);
  font-family:var(--second-font);
  width:306px;
  padding:0;
  border:2px solid var(--main-text-color);
  height:84px;
  margin-left:34.5px;
  margin-right:34.5px;
  gap:8px;
  cursor: pointer;
}

.save-btn svg {
  width:28px;
  height:28px;
}

 .dialog {
    display: none; 
    border: 2px solid var(--main-text-color);
    background:var(--bg-color);
    max-width:341px;
    width:100%;
    padding:30px 0px 30px 0px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:30px;
  }

  .dialog[open] {
    position:fixed;
    display: flex;         
  }

  .dialog[open]::backdrop {
    background: rgba(0,0,0,0.75);
  }

  .dialog-content {
    display: flex;
    align-items: center;
    gap:20px;
  }

  .dialog-paragraph {
    font-size:var(--special-font-size);
    font-variation-settings:"wght" var(--font-header-weight);
    font-family:var(--second-font);
    text-transform:uppercase;
    width:234px;
    line-height:1.5;
  }

  .dialog-btn {
    border: 2px solid var(--main-text-color);
    font-size:var(--special-font-size);
    font-variation-settings:"wght" var(--font-header-weight);
    font-family:var(--second-font);
    cursor: pointer;
    text-transform:uppercase;
    padding:0;
    width:261px;
    height:38px;
  }

  /* .dialog_form {
    padding-top:30px;
  } */

.filter-truck-violet-grey {
  filter: 
    brightness(0.9)      
    contrast(1.15)       
    saturate(1.2)       
    hue-rotate(280deg)   
    sepia(0.3);

}

.filter-truck-pink-grey {
  filter: 
    brightness(1.1)      
    contrast(1.6)        
    saturate(2.2)       
    hue-rotate(290deg)   
    invert(0.1)         
    sepia(0.4);

}

.filter-truck-violet-white {
  filter: 
    brightness(0.95)    
    contrast(1.25)     
    saturate(1.1)       
    hue-rotate(310deg)   
    sepia(0.6);

}

.filter-truck-orange-green {
  filter:
   brightness(1.05) 
   contrast(1.2)      
   saturate(1.3)        
   hue-rotate(120deg)   
   sepia(0.4)           
   invert(0.05);

}

.filter-truck-brown-white {
   filter: 
    brightness(1.05)  
    contrast(1.3)        
    saturate(0.4)        
    sepia(1)             
    hue-rotate(20deg);

}

.filter-truck-red-blue {
  filter:blur(5px);

}

.filter-truck-strawberry {
  filter: 
    brightness(0.95)    
    contrast(1.15)      
    saturate(0.9)       
    hue-rotate(45deg)    
    sepia(0.3)
    contrast(180%);

}


@media (width >= 1440px) {

    main {
      gap:47px;
      margin-top:96px;
    }

    .card {
      max-width:700px;
    }

    .dialog {
      padding:30px 0px 30px 0px;
      max-width:353px;
      width:100%;
    }

    .dialog-btn {
      width:293px;
    }

    .header__info {
      padding:130px 122.5px 130px 122.5px;
    }

    .save-btn {
      width:335px;
      height:55px;
      margin-left:182.5px;
      margin-right:182.5px;
      flex-direction:row;
    }

    .save-btn svg {
      width:21px;
      height:21px;
    }

}

.button_visual {
  position:relative;
  overflow:hidden;
}

.button_visual:focus {
  outline:none;
  box-shadow: 2px 2px 0 var(--main-text-color);
  transition:0.3s ease;
}

.card__icon-button {
  display:flex;
  justify-content:center;
  align-items:center;
  border:2px solid transparent;
  background-color:transparent;
  width:39px;
  height:36px;
  padding:0;
}

.card__icon-button:focus {
  outline:none;
}

.card__icon-button:focus-visible {
  outline:none;
  border:2px solid var(--main-text-color);
  transition:0.3s ease;
}

.button_visual::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  transform: translateX(-100%);
  transition:0.5s ease-in-out;
}

.button_visual:hover::before {
  transform: translateX(0);
}

.discet {
  flex-shrink: 0;
  mix-blend-mode:difference;
  color:white;
}

.sparks {
  opacity:0%;
}

.contour {
  transition:fill 0.1s linear 0s;
}

.core {
  transition:0.3s linear 0.03s;
}

.heart:hover .core {
  fill:var(--contour-color);
  transition:0.3s linear 0s;
}

.heart:hover .main-body {
  fill:var(--contour-color);
  transition:0.3s linear 0.05s;
}

.heart:active .core {
  fill:var(--animation-fill-color);
  transition:0.3s linear 0s;
}

.heart:active .main-body {
  fill:var(--animation-fill-color);
  transition:0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill:var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill:var(--animation-fill-color);
}

.like-icon.is-liked .core {
  fill:var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity  0.3s ease-in 0.3s;
}

.like-icon {
  transform-origin:center;
}

.main-body {
  transition:0.3s linear 0s;
}

